.home {
  grid-area: home;
  display: grid;
  justify-content: center;
  grid-template:
    "taskInput"
    "home__boards";

  padding: 0 10%;

  &__boards {
    grid-area: home__boards;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 1%;
  }

  @media (max-width: 1250px) {
    &__boards {
      flex-direction: column;
      align-items: center;
    }
  }
}
