.singleTask {
  display: flex;
  flex-direction: column;
  background-color: #0000008a;
  margin: 2%;
  text-align: center;
  width: 100%;
  border-radius: 0.4rem;
  word-wrap: break-word;

  &__content {
    width: 100%;
    overflow: auto;
    margin-left: 4px;
    max-height: 8vw;
  }

  &__buttonsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__button {
    background-color: #00000041;
    border: 0.1em solid #000000;
    font-family: "Roboto", sans-serif;
    padding: 0.35em 1.2em;
    border-radius: 6px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
  }

  &__button > span {
    color: rgba(255, 255, 255, 0.493);
    font-size: 1rem;
  }

  &__button:hover {
    background-color: #00000079;
  }

  &__button:hover .far {
    color: rgb(255, 0, 0);
  }
  &__button:hover .fa-backward {
    color: rgb(255, 238, 0);
  }

  &__button:hover .fa-check {
    color: rgb(21, 255, 0);
  }

  &__content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #ffffff86;
  }

  &__content::-webkit-scrollbar {
    width: 12px;
  }

  &__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  @media (max-width: 960px) {
    & {
      max-width: 40vw;
      min-width: 24.6vw;
      min-height: 8vw;
    }
  }

  @media (max-width: 1200px) {
    & {
      max-width: 26vw;
      max-height: 25vw;
      min-width: 16.3vw;
      min-height: 7.5vw;
    }

    &__content {
      max-height: 16vw;
    }
  }

  @media (max-width: 630px) {
    & {
      max-width: 75vw;
      max-height: 60vw;
      min-width: 26.7vw;
      min-height: 13.3vw;
    }
    &__content {
      max-height: 60vw;
    }
  }
}
