.app {
  display: grid;
  grid-template:
    "header-component"
    " boards-container"
    "footer";
}

/*header area*/

.header-component {
  grid-area: header-component;
}

/*boards area*/

.boards-container {
  grid-area: boards-container;
  display: grid;
  grid-template:
    "task-input"
    "boards";
  background-color: greenyellow;
}

.task-input {
  grid-area: task-input;
}

.boards {
  grid-area: boards;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1%;
}

.task-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 30%;
  margin: 1%;
  background-color: gray;
}

.task-board-heading {
  min-width: 100%;
}

.board-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.single-task {
  width: 45%;
  background-color: skyblue;
  margin: 1%;
  text-align: center;
  font-size: calc(30px - 0.5vw);
}

.single-task button {
}

@media (max-width: 1200px) {
  .boards {
    flex-direction: column;
  }

  .task-board {
    min-width: 80%;
  }

  .single-task {
    min-width: 45%;
    width: 22%;
  }
}

/*footer area*/
.footer {
  grid-area: footer;
}
