#root {
  display: grid;
  grid-template-rows: "header boards footer";
}

#boards-container {
  grid-area: boards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.header-component {
  grid-area: header;
  background-color: rgb(112, 112, 255);
  margin: 1%;
}
.board-like {
  margin: 1%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.task-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1%;
  margin-left: 20%;
  margin-right: 20%;
  width: 100%;
}

.to-do-board {
  background-color: pink;
}

.in-progress-board {
  background-color: rgb(250, 126, 147);
}
.completed-board {
  background-color: rgb(248, 20, 58);
}

.footer {
  grid-area: footer;
  background-color: rgb(168, 255, 117);
  margin: 1%;
  text-align: center;
}

.single-task {
  background-color: orange;
  margin: 2%;
  flex-basis: 25%;
}
