html {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
body {
  margin: 0px;
  background-image: url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  display: grid;
  grid-template:
    "header-component"
    "boards-container"
    "footer";
  height: 100vh;
  width: 100%;
}

/*header area*/

.header-component {
  display: flex;
  align-items: center;
  grid-area: header-component;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  padding-left: 5%;
  text-align: left;
  max-height: 7vh;
}

/*boards area*/
.boards-container {
  grid-area: boards-container;
  display: grid;
  justify-content: center;
  grid-template:
    "task-input"
    "boards";

  padding: 0 10%;
}

.task-input {
  grid-area: task-input;
  text-align: center;
  color: white;
}

.task-input form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.task-input h2 {
  flex-basis: 100%;
  margin-top: 0;
}
.task-input textarea {
  border: 1px solid #ffffff88;
  border-radius: 0.4rem;
  background: rgba(0, 0, 0, 0.24);
  width: 200px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.task-input textarea:active {
  border-color: #ffffffd3;
}

.task-input button {
  font-size: 1rem;
  border-radius: 6px;
  background-color: #00000041;
  color: rgba(255, 255, 255, 0.459);
  height: 40px;
  width: 60px;
  border: 1px solid rgb(168, 168, 168);
  margin-top: 0.6%;
  backdrop-filter: blur(7px);
}

.task-input input,
button:hover {
  background: rgba(0, 0, 0, 0.39);
  color: rgba(255, 255, 255, 0.774);
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.boards {
  grid-area: boards;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 1%;
}

.task-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1vh;
  min-height: 31vw;
  min-width: 25vw;

  margin: 1%;
  background: rgba(255, 255, 255, 0.226);
  /* background: rgba(124, 124, 124, 0.226); */

  backdrop-filter: blur(5px);

  color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.507);
}

.task-board-heading {
  min-width: 100%;
  text-align: center;
}

.task-board h1 {
  margin: 1.5%;
}

.board-like {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
  max-height: 27.5vw;
}

.single-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 11vw;
  max-height: 11vw;
  background-color: #0000008a;
  margin: 2%;
  text-align: center;
  min-width: 10vw;
  border-radius: 0.4rem;
  word-wrap: break-word;
}

.single-task p {
  overflow: auto;
  margin-left: 4px;
  max-height: 8vw;
}

@media (max-width: 1650px) {
  .single-task {
    max-width: 20vw;
    min-width: 11vw;
  }
}

@media (max-width: 1450px) {
  .single-task {
    max-width: 20vw;
    min-width: 13.2vw;
  }
}

@media (max-width: 1200px) {
  .boards {
    flex-direction: column;
    align-items: center;
  }

  .single-task {
    max-width: 26vw;
    max-height: 25vw;
    min-width: 16.3vw;
    min-height: 7.5vw;
  }

  .single-task p {
    max-height: 16vw;
  }

  .task-board {
    width: 92vw;
    height: 50vh;
    margin-top: 2vh;
  }

  .task-input h2 {
    margin-top: 3vh;
  }

  .board-like {
    max-height: 50vh;
  }
}

@media (max-width: 960px) {
  .single-task {
    max-width: 40vw;
    min-width: 24.6vw;
    min-height: 8vw;
  }

  html {
    font-size: 14px;
  }
}

@media (max-width: 630px) {
  .single-task {
    max-width: 75vw;
    max-height: 60vw;
    min-width: 26.7vw;
    min-height: 13.3vw;
  }
  .single-task p {
    max-height: 60vw;
  }
}

.single-task .button {
  background-color: #00000041;
  border: 0.1em solid #000000;
  font-family: "Roboto", sans-serif;
  padding: 0.35em 1.2em;
  border-radius: 6px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.05s;
}

.button span {
  color: rgba(255, 255, 255, 0.493);
  font-size: 1rem;
}

.single-task-buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-task button:hover {
  background-color: #00000079;
}

.single-task button:hover .far {
  color: rgb(255, 0, 0);
}
.single-task button:hover .fa-backward {
  color: rgb(255, 238, 0);
}

.single-task button:hover .fa-check {
  color: rgb(21, 255, 0);
}

/*footer area*/
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: footer;
  color: white;

  width: 100%;
}

/*scrollbars*/

.text-area-input::-webkit-scrollbar-track,
.board-like::-webkit-scrollbar-track,
.single-task p::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff86;
}
.text-area-input::-webkit-scrollbar,
.board-like::-webkit-scrollbar,
.single-task p::-webkit-scrollbar {
  width: 12px;
}

.text-area-input::-webkit-scrollbar-thumb,
.board-like::-webkit-scrollbar-thumb,
.single-task p::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
